.Writemain {
    width: 100%;
    height: 100%;
}

.WriteLayout {
    width: 100%;
    height: 100%;
    display: flex;
}

.WriteLeft {
    background-color: var(--bg-page2);
    min-width: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.016) 0px 0px 8px;
}

.WriteRight {
    background-color: var(--bg-element8);
    min-width: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.WritePreview {
    word-break: break-word;
    padding: 3rem;
    flex: 1 1 0%;
    overflow-y: auto;
    color: var(--text1);
    & .WriteTitle {
        font-size: 2.5em;
        margin-bottom: 4rem;
        font-weight: 800;
    }
    & .WriteContents {
        font-size: 1.125rem;
        color: var(--text1);
        transition: color 0.125s ease-in;
        line-height: 1.7;
        letter-spacing: -0.004em;
        word-break: keep-all;
        overflow-wrap: break-word;
    }
}

.CodeBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    & .CodeWrapper {
        min-height: 0px;
        padding-bottom: 4rem;
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
    }
}

.CodeTop {
    max-height: 556px;
    opacity: 1;
}

.CodeMirror {
    flex: 1 1 0%;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--text1);
    font-family: "Fira Mono", monospace;
}

.Topbox {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.TitleInput {
    height: 66px;
    background: transparent;
    display: block;
    padding: 0px;
    font-size: 2.75rem;
    width: 100%;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--text1);
}

.TagInput {
    background: transparent;
    display: inline-flex;
    outline: none;
    cursor: text;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    min-width: 8rem;
    border: none;
    color: var(--text1);
}

.Tag {
    font-size: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--bg-element2);
    color: var(--primary1);
    margin-right: 0.75rem;
    transition: 0.125s ease-in;
    cursor: pointer;
    margin-bottom: 0.75rem;
    animation: 0.125s ease-in-out 0s 1 normal forwards running tag;
}

.Line {
    background: rgb(73, 80, 87);
    height: 6px;
    width: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.TagBox {
    color: var(--text1);
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap;
}

.Toolbar {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 594px;
}

.ToolBox {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    background: var(--editor-footer);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.ExitButton {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    -webkit-box-align: center;
    align-items: center;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    outline: none;
    color: var(--text1);
    & svg {
        font-size: 1.25rem;
        margin-right: 0.5rem;
    }
    & span {
        font-size: 1.125rem;
    }
}

.ExitButton:hover {
    background-color: var(--bg-element3);
}

.SaveButtons {
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.Button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: var(--primary1);
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}

.Button:hover {
    background-color: var(--bg-element3);
}

.SaveButton {
    height: 2.5rem;
    font-size: 1.125rem;
}

.Save {
    margin-left: 0.75rem;
    background: var(--primary1);
    color: var(--button-text);
}

.Save:hover {
    background: var(--primary2);
}

@keyframes tag {
  0% {
    opacity: 0.7;
    transform: scale3d(0.8, 0.8, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}