.PostCard {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: var(--bg-element1);
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.04);
  transition: box-shadow .25s ease-in,transform .25s ease-in;
  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,.08);
    @media screen and (max-width: 1024px) {
      transform:none
    }
  }

  .PostCard_styleLink {
    display: block;
    color: inherit;
    text-decoration: none
  }
}

.PostCard_content {
  padding: 1rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  .PostCard_h4 {
    font-size: 1rem;
    margin: 0 0 .25rem;
    line-height: 1.5;
    word-break: break-word;
    color: var(--text1);
    @media screen and (max-width: 767px) {
      white-space:normal
    }
  }

  .PostCard_descriptionWrapper {
    flex: 1 1
  }

  & p {
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: .875rem;
    line-height: 1.5;
    &.PostCard_clamp {
      height: 3.9375rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis
    }

    color: var(--text2);
    margin: 0 0 1.5rem
  }

  .PostCard_subInfo {
    margin-top: auto;
    font-size: .75rem;
    line-height: 1.5;
    color: var(--text3);
    .PostCard_separator {
      margin-left: .25rem;
      margin-right: .25rem
    }
  }
}

.PostCard_footer {
  padding: .625rem 1rem;
  border-top: 1px solid var(--border4);
  display: flex;
  font-size: .75rem;
  line-height: 1.5;
  justify-content: space-between;
  .PostCard_userInfo {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    & img {
      object-fit: cover;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      margin-right: .5rem
    }

    & span {
      color: var(--text3);
      & b {
        color: var(--text1)
      }
    }
  }

  .PostCard_likes {
    display: flex;
    align-items: center;
    color: var(--text1);
    & svg {
      width: .75rem;
      height: .75rem;
      margin-right: .5rem
    }
  }
}

.PostCard_skeletonBlock {
  .PostCard_skeletonThumbnailWrapper {
    width: 100%;
    padding-top: 52.19%;
    position: relative;
    .PostCard_skeletonThumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
    }
  }

  .PostCard_lines {
    height: 3.9375rem;
    font-size: .875rem;
    margin-bottom: 1.5rem;
    .PostCard_line {
      display: flex
    }

    .PostCard_line+.PostCard_line {
      margin-top: .3rem
    }
  }
}

.RatioImage {
  padding-top: 52.1921%;
  width: 100%;
  position: relative;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover
  }
}

.PostCard_postimage {
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.utils_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden
}