.App {
  background-color: var(--bg-page1);
}

.Content {
  width: 1728px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1919px) {
    width: 1376px;
  }
  @media screen and (max-width: 1440px) {
    width: 1024px;
  }
}

.HomeLayout {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

.HomeLayout_main {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
  & main {
  width: 100%;
  }
}

/*End of Velog CSS*/