.App {
  width: 100%;
  min-height: 100svh;
  height: 100%;
}

body {
  background: var(--bg-page2);
}

.Content {
  width: 1728px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1919px) {
    width: 1376px;
  }
  @media screen and (max-width: 1440px) {
    width: 1024px;
  }
}

.ColorBG {
  background-color: var(--bg-page1);
  width: 100%;
  min-height: 100svh;
  height: 100%;
}

.HomeLayout {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

.HomeLayout_main {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 16px;
  & main {
  width: 100%;
  }
}

/*End of Velog CSS*/

.cm-content {
  white-space: normal !important;
  max-width: 100% !important;
}

.cm-line {
  padding: 0 !important;
}